html {
  background: #ebebeb;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: linear-gradient(to bottom, #f8f8f8 0%, #ebebeb 100%);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1em;
}

@media only screen and (min-width: 350px)
{
    .m1
    {
        width: 8.33%;
    }
    .m2
    {
        width: 16.66%;
    }
    .m3
    {
        width: 25%;
    }
    .m4
    {
        width: 33.33%;
    }
    .m5
    {
        width: 41.66%;
    }
    .m6
    {
        width: 50%;
    }
    .m7
    {
        width: 58.33%;
    }
    .m8
    {
        width: 66.66%;
    }
    .m9
    {
        width: 75%;
    }
    .m10
    {
        width: 83.33%;
    }
    .m11
    {
        width: 91.66%;
    }
    .m12
    {
        width: 100%;
        margin-left: 0;
    }

    .m1-5
    {
        width: 20%;
    }
    .m2-5
    {
        width: 40%;
    }
    .m3-5
    {
        width: 60%;
    }
    .m4-5
    {
        width: 70%;
    }
}

#top-nav {
  padding: .5em;
}
#top-nav a {
  text-decoration: none;
  color: #bbbbbb;
}

#content {
  margin: 0 auto 2em auto;
  max-width: 800px;
}

#sign-out {
  margin: 2em auto 2em auto;
}

#page-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.333);
  z-index: 999;
  top: 0;
  left: 0;
}

#page-cover img {
  display: block;
  position: relative;
  top: 200px;
  margin: auto;
}

fieldset {
  background-color: #ffffff;
}

.col {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
label {
  font-weight: normal;
  font-size: .9em;
  color: #6a6a6a;
}
/* .squaredThree */
.squaredThree {
  width: 30px;
  position: relative;
  margin: 0;
}
.squaredThree label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #f8f8f8 0%, #ebebeb 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squaredThree label:after {
  content: '';
  width: 17px;
  height: 9px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 6px solid #ffa600;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .squaredThree */

th, td {
  padding: .25em 1em;
  border-bottom: 1px solid #bbb;
}

.alert {
  font-weight: bold;
  font-size: 1.25em;
  margin: .5em .5em;
  padding: .5em 1em;
}

label.inline {
  display: inline-block;
  margin: 0 .5em;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
 font-size: 1em;
 font-weight: 600;
 line-height: 1.15;
 display: inline-block;
 margin-bottom: 1rem;
 padding: 1rem 2rem;
 cursor: pointer;
 text-align: center;
 white-space: nowrap;
 text-decoration: none;
 letter-spacing: .1rem;
 text-transform: uppercase;
 color: #555;
 border: 1px solid #bbb;
 border-radius: 4px;
 background-color: transparent;
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
 opacity: .75;
 color: #333;
 border-color: rgb(89, 106, 255);
 outline: 0;
}
._primary {
 border-color: #1962A0 !important;
 background-color: #1962A0 !important;
}